.home-tittle{text-align: center; width: 20vw;}

.home-body{
  padding-top: 4vh;
  width: 90vw;
  padding-right: 0;
  padding-left: 20em;
  display: flex;
  justify-content: space-between;
}

.home-container-left{

  padding-right: 5em;
  padding-left: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.home-container-left img{
  width: 35em;
}

.home-container-right{

  padding-right: 5em;
  padding-left: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-container{
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side */
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-box-back {
    display: flex;
    justify-content: center;
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    
  }